

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

#app{
  position: relative;
}

.Experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#canvas{
  width: 100%;
  height: 100%;
}

.Ui{
  position: absolute;
  right: 0;
  height: 100vh;
  background-color: #e3e3e3;
  width: 20%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 90%;
  height: 40px;
  background-color: #ffbaba;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header:active{
  background-color: #ff0000;
}

.header:hover{
  background-color: #ff8275;
}

.header-child{
  width: 90%;
  margin-top: 5px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 3px #9f9f9f;
  border-radius: 10px;
  transition: all 200ms;
}